/* .container {
  background-color: #fff;
  border-radius: 10px;
  padding: 0px 20px 20px 20px;
  margin: 20px;
  height: auto;
  border: 2px double #666;
  box-shadow: 1px 1px 3px #333;
}

.top-line {
  font-size: 150%;
}

h2 {
  background: rgba(0,0,0,0.7);
}

.table {
  margin: 0 auto;
}

td {
  text-align: center;
} */